.page-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.background-blob {
    width: 10vw;
    position: absolute;
}

.blob {
    position: absolute;
    z-index: -1;
}

.canvas-fallBack {
    background-color: black;
    width: 80vw;
    height: 80vw;
    border-radius: 50%;
    position: absolute;
}

.text-container {
    z-index: 5;
}

.title {
    font-size: 0.75em;
}

.name {
    font-size: 2.3em;
    margin: 0;
}

.name,
.title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.2em;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .title {
        font-size: 0.75em;
    }

    .name {
        font-size: 2.3em;
    }

    .canvas-fallBack {
        width: 80vw;
        height: 80vw;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .title {
        font-size: 1.2em;
    }

    .name {
        font-size: 3.5em;
    }

    .canvas-fallBack {
        width: 70vw;
        height: 70vw;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .title {
        font-size: 1.5em;
    }

    .name {
        font-size: 5em;
    }

    .canvas-fallBack {
        width: 60vw;
        height: 60vw;
    }
}
