.intro-container {
    width: 90vw;
    text-align: center;
    font-size: 0.75rem;
}

.text-container {
    // margin: auto;
    position: fixed;
    top: 40vh;
    left: 28vw;
}

.title {
    font-size: 1.5em;
}

.name {
    font-size: 5em;
}

.name,
.title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.2em;
}

.headshot-container {
    border-bottom: 1px solid lightgray;
    transition: all 0.5s ease;
}
.portrait {
    width: 80vw;
}

.intro {
    margin: 1vh;
}

.bio {
    margin: 0 0 1vh 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .headshot-container {
        border-bottom: 1px solid lightgray;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .intro-container {
        width: 45vw;
        text-align: center;
    }

    .headshot-container {
        border-bottom: 1px solid lightgray;
        transition: all 0.5s ease;
    }
    .portrait {
        width: 40vw;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .headshot-container {
        border-bottom: 1px solid lightgray;
    }
}
