.App {
    width: 100vw;
}

.App a:-webkit-any-link {
    text-decoration: none;
    color: black;
    padding: 5px;
}

.App a:-webkit-any-link:hover {
    text-decoration: none;
    color: black;
    padding: 5px;
}

/* .App-header {
    position: fixed;
    top: 25%;
    left: 25%;
    margin-top: -35vh;
    margin-left: -40vw;
} */

@media (min-width: 769px) {
    /* .App-header {
        margin-top: -20vh;
        margin-left: -25vw;
    } */
}
