.navigation-container {
    width: 100%;
    position: fixed;
}

.navigation-name {
    padding: 5px 8px;
    display: inline-block;
    margin: 0;
}

.navigation-list {
    margin: 0;
    list-style-type: none;
    float: right;
}

.clr {
    clear: both;
}

.navigation-list li {
    display: inline-block;
    padding: 10px 15px;
}

.navigation-list li a:hover {
    border: 1px solid black;
    border-radius: 15%;
    transition: all 0.5s ease-in-out;
}

.navigation-list li.active a {
    border-bottom: 1px solid black;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .navigation-list li {
        padding: 10px 20px;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .navigation-list li {
        padding: 20px 30px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navigation-list li {
        padding: 20px 30px;
    }
}
